*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}
:root{
    --darck:#101828;
    --Primary:#193CB8;
    --light:#fff;
    --secondary:#8EC5FF;
    --text:#F3F4F6;
}
.container{
    max-width: 1200px;
    padding: 0px 32px;
    margin: auto;
}
.flex-w{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
a{
    text-decoration:none;
    color: var(--light);
}
.padd-top{
    padding-top: 70px;
}
header{
    padding: 30px 0px;
    background-color: var(--darck);
}
header svg{
    width: 30px;
    display: inline-block;
}
.logo{
    width: 190px;
}
.logo h1{
    font-size: 18px;
    font-weight: 700;
    display: inline;
}
header ul li{
    list-style: none;
    color: #99A1AF;
    margin-left: 15px;
    font-size: 14px;
    font-weight: 600;
}
.profile{
    font-size: 20px;
    margin:0px 10px 0px 20px;
}
header ul li:hover{
    cursor: pointer;
    color: var(--light);
}
section{
    background-color: var(--darck);
}
section h2{
    text-align: center;
    color: var(--light);
    font-size: 48px;
    font-weight: 800;
    margin-bottom: 16px;
    text-wrap:balance;
    line-height: 1;
}
section h3{
    font-size: 20px;
    width: calc(2 / 3 * 100%);
    margin: auto;
    color: var(--light);
    text-align: center;
    line-height: 1.6;
    font-weight: 500;
    color: var(--text);
}
section .action{
    padding-top:40px;
    font-size: 16px;
    justify-content: center;
    gap: 40px;
}
.butt-s{
    border: none;
    border-radius: 30px;
    padding: 16px 24px;
    background-color: var(--Primary);
    width: 165px;
    height: 60px;
    color: var(--light);
    font-size: 16px;
    font-weight: 800;
}
.butt-s:hover{
    cursor: pointer;
    background-color: #1C398E;
}
.butt-s1{
    background-color: #ffffff21;
}
.butt-s svg{
    width: 20px;
}

.cvar{
    margin: auto;
    padding: 6px;
    background-color: var(--light);
    box-shadow: 0px 6px 10px 5px rgba(0, 0, 0, 0.1);
    width: 75%;
    /* height: 500px; */
    object-fit: cover;
    translate:0px 130px  ;
    border-radius: 15px;
    
}
.cvar img{
    width: 100%;
    border-radius: 10px;
}

h1,h2,h3{
    text-align: center;
}
.card{
    width: 325px;
}
article p{
    text-align: center;
}
article{
    margin-top: 200px;
}
article h2{
    font-size: 36px;
    font-weight: 800;
    margin-bottom: 16px;
}
article p{
    font-size: 20px;
    font-weight: 500;
}
.box{
    margin-top: 64px;
    margin-bottom: 128px;
}
.icon{
    width: 88px;
    height: 88px;
    background-color: var(--Primary);
    border-radius: 50%;
    margin: auto;
    box-shadow: 4px 5px 0px 0px var(--secondary);
    justify-content: center;
}
.icon i{
    color: var(--light);
    font-size: 30px;
}
.card h3{
    margin-top: 46px;
    font-size: 20px;
    font-weight: 700;
}
.card p{
    margin-top: 8px;
    font-size: 16px;
    font-weight: ;
    color: oklch(44.6% 0.03 256.802);
    line-height: 1.6;
    text-align: left;
}
.backg{
    background-color: #1C398E;
    position: relative;
    transform: skewY(1.5deg);
    /* height: 680px; */
    color: var(--light);
}
.quas{
    padding: 130px 32px;
    transform: skewY(-1.5deg);
    margin: auto;
}
.quas h3{
    font-size: 36px;
    font-weight: 800;
    margin-bottom: 70px;
}
.works{
    max-width: 384px;
    height: 300px;
    padding: 40px;
    background-color: #ffffff3d;
    border-radius: 24px;
}
.works i{
    color: var(--secondary);
    font-size: 36px;
    margin-bottom: 20px;
}
.works h4{
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 18px;
}
.works p{
    line-height: 1.6;
    font-size: 16px;
}
.plan{
    max-width: 896px;
    padding: 128px 32px;
    margin: auto;
    text-align: center;
}
.plan h3{
    font-size: 36px;
    margin-bottom: 16px;
    font-weight: 800;
}
.plan p{
    font-size: 20px;
    max-width: 555px;
    margin: auto;
}
.options{
    margin-top: 50px;
    text-align: left;
    font-size: 14px;
}
.option{
    position: relative;
   max-width: 400px;
   border: 2px solid #E5E7EB;
   border-radius: 12px;
}
.option:hover{

}
.option1{
   border: 2px solid var(--Primary);
}
.price{
    padding: 24px;
    height: 154px;
}
.price p{
    font-size: 16px;
    margin-top: 8px;
    font-weight: 600;
}
.price span{
    font-size: 36px;
    font-weight: 800;
}
.puy{
    padding: 24px;
    border-radius: 0px 0px 12px 12px;
    background-color: #F3F4F6;
}
.puy1{
    background-color: #EFF6FF;
}
.save{
    color: var(--Primary);
    border-radius: 50%;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
}
.puy button{
    border:none;
    width: 174px;
    height: 50px;
    background-color: var(--darck);
    border-radius: 25px;
    color: var(--light);
}
.puy button:hover,.puy1 button:hover{
    cursor: pointer;
    background-color: #1C398E;
}
.puy1 button{
    background-color: var(--Primary);
}
.price h4{
    color: var(--Primary);
}
.numbers{
    background-color: var(--darck);
    padding: 0px 32px;
}
.spac{
   padding:  128px 20px;
   text-align: center;
   display: inline-block;
}
.spac h4{
    text-align: center;
    margin-bottom: 4px;
    font-size: 36px;
    font-weight: 800;
    color: var(--light);
    width: 359px;
}
.spac p{
    text-align: center;
    font-size: 14px;
    color: var(--secondary);
}
footer{
    padding: 128px 0px;
}
footer p span{
    margin-right: 20px;
}
footer p span:hover{
    color: var(--Primary);
    cursor: pointer;
}
@media(max-width:700px){
.flex-w{
    flex-direction: column;
    gap: 30px;
}    
header ul li{
    display: none;
}
.logo svg{
    display: none;
}
.padd-top{
    padding-top: 5px;
}
}